<div>
  <div class="container-fluid page-content">
    <div class="row">
      <div *ngFor="let character of characters">
        <div class="col-xs-6 col-sm-6 col-md-3">
          <div class="thumbnail" style="width: 12rem;">
            <img class="img-responsive" src="{{ character.imagePath }}" alt="Card image cap">
            <div class="caption">
              <h4>{{ character.name }}</h4>
              <p>{{ character.value }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
